# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSy...
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=namaproject-anda.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=namaproject-anda
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=namaproject-anda.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1234567890
NEXT_PUBLIC_FIREBASE_APP_ID=1:1234567890:web:abcdef123456

# App Collection ID (Opsional, bawaan: seion-lomba-hutri81)
NEXT_PUBLIC_APP_ID=seion-lomba-hutri81
